/*div.ola{
    background-color: #62F098;
}
html {
    background-color: lightcoral;
    background-size: cover;
}*/

 /* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:800px; top:0px;}
  50%  {background-color:blue; left:900px; top:380px;}
  75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div.ola {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: lightcoral;
  animation-name: example;
  animation-duration: 10s;
} 