
html {
    background-color: lightcoral;
    background-size: cover;
}

 /* The animation code 
@keyframes example {
  0%   {background-color:rgb(238, 151, 250); left:0px; top:0px;}
  25%  {background-color:rgb(255, 244, 143); left:75%; top:0px;}
  50%  {background-color:rgb(92, 92, 173); left:75%; top:200%;}
  75%  {background-color:rgb(73, 143, 73); left:0px; top:200%;}
  100% {background-color:rgb(107, 248, 206); left:0px; top:0px;}
}

 The element to apply the animation to 
div.ola {
  width: 400px;
  height: 150px;
  position: relative;
  background-color: lightcoral;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 100;
}*/

img.logo {
  width: 150px;
  

}



@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotating 2s linear infinite;
}

img.rotate {
  height: 150px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 150px;
}