{% extends 'home/base.html' %}

{% block title %}
ferdivdb.be
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}

<div class="container-fluid">

	<div class="row">
		
		<div class="col">
			
			<h1>Bienvenue sur mon portail d'applications</h1>
			<br>
			<p>Sur ce site, je vous propose un panel d'applications sympas et gratuites !</p>
			<p>C'est applications ont un but purement pédagogique, c'est pourquoi je les laisse libres et gratuites</p>

		</div>

	</div>

	
</div>


{% endblock %}